{% extends "blog.html" %}

{% macro render_blog(title, description, time, url, pg) -%}
<div class="blog-post">
    <h3 class="blog-post-title">
        <a class="link" href="{{ url }}">{{ title }}</a>
    </h3>
    {% if show_tags and "tags" in pg.meta %}
        {% call render_tags(pg.meta["tags"], index_url) %}
        {% endcall %}
    {% endif %}
    <p class="blog-post-description">
        {{ description }}
    </p>
    <div class="blog-post-extra">
        {% if "author" in pg.meta %}
            <strong>{{ pg.meta["author"] }}</strong>
        {% endif %}
        {{ " · " + time }}
    </div>
    <hr />
</div>
{{ caller() }}
{%- endmacro %}
