{% extends "blog.html" %}

{% macro render_blog(title, description, time, url, pg) -%}
<div class="blog-post">
    <h3 class="blog-post-title">
        <a class="link" href="{{ url }}">{{ title }}</a>
    </h3>
    {% if show_tags and "tags" in pg.meta %}
        {% call render_tags(pg.meta["tags"], index_url) %}
        {% endcall %}
    {% endif %}
    <p class="blog-post-description">
        {{ description }}
    </p>
    <div class="blog-post-extra">
        {% if "author_gh_user" in pg.meta %}
            <p><img src="https://avatars.githubusercontent.com/{{ pg.meta.author_gh_user }}" alt="@{{ pg.meta.author_gh_user }}"></p>
        {% endif %}
        <p>
            {% if "author" in pg.meta %}
            <strong>{{ pg.meta["author"] }}</strong>
            {% endif %}
            {% if "author_gh_user" in pg.meta %}
            · <a href="https://github.com/{{ pg.meta.author_gh_user }}">@{{ pg.meta.author_gh_user }}</a>
            {% endif %}
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                </svg> {{ time }}
            </div>
        </p>
    </div>
    <hr />
</div>
{{ caller() }}
{%- endmacro %}