name: Build Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
        with:
            fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - run: curl https://raw.githubusercontent.com/repath-project/repath-studio/main/CHANGELOG.md > ./docs/roadmap/changelog.md
      - run: curl https://raw.githubusercontent.com/repath-project/repath-studio/main/CONTRIBUTING.md > ./docs/contribute/CONTRIBUTING.md
      - run: pip install mkdocs-material=="9.5.17" "mkdocs-material[imaging]" mkdocs-glightbox
      - run: mkdocs gh-deploy --clean --force



